@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.first-page{
    /* border: 2px solid red; */
    height: 10vh;
    width: 100%;
    display: flex; 
    flex-direction: row-reverse;
    /* justify-content: center;  */

}
.search{
    background-color: rgb(255, 255, 255);
    border-color: black;
    font-size: 1.1rem;
    border-radius: 10px;
    margin: 20px 80px 20px 0;
}
.nav-bar{
    /* border: 2px solid red; */
    /* background-color: bisque; */
    /* position: fixed; */
    z-index: 3;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 30%;
    align-items: center;
}
.nav-bar .logo{
    font-size: 3em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.nav-bar .button{
    width: 40%;
}
.nav-bar .button ul{
    padding-right: 10%;
    display: flex;
    gap: 10%;
    flex-direction: row;

}
.nav-bar .button li{
    list-style: none;
}
.nav-bar .button li a{
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.nav-bar .button li a:hover{
    text-decoration: underline;
    color: black;
    list-style: none;
}
.image{
    /* border: 2px solid red; */
    height: 78vh;
    width: 90%;
    /* margin-left: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.image h1{
    transform: rotate(90deg);
    position: absolute;
    display: flex;
    z-index: 2;
    font-size: 3.5em;
    font-family: Poppins;
    /* background-color: aqua; */
    width: 260px;
    top: 35%;
    right: 0%;
    /* color: white; */
    text-shadow:3px;
}
.image .arc{
    text-decoration: underline;
    top: 45%;
    right: 4.5%;
}
.change-img{
    /* border: 2px solid green; */
    filter: grayscale(100%);
    transition: all 1s linear;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    width: 85%;
    height: 95%;
    /* margin-le: 5%; */
    display: flex;
    justify-content: end;
    align-items: end;
}
.swap{
    background-color: rgb(255, 255, 255);
    height: 10%;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Poppins;
    font-weight: 600;
    font-size: 2em;
    margin: 0 5px 5px;
}
.date{
    font-family: Poppins;
    display: flex;
    justify-content: start;
    margin-left: 2%;
    font-weight: 500;
}
.text-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 70px;
    align-items: center;
    /* border: 2px solid red; */
    height: 60vh;
    width: 100%;
    background-color: #f4f0f0;
}
.box1{
    font-family: Poppins;
    /* border: 2px solid red; */
    height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.first{
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-weight: 800;
}
.first P{
    margin: 0;
}
.first button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 0px;
    margin-left: 0;
}
.last{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1px;
}
.last h1{
    margin: 0px 0px 0px 5px;
}
.cards-1{
    font-family: Poppins;
    /* border: 2px solid red; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}
.innerCards-1{
    /* position: absolute; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: start;
    gap: 20%px;
    bottom: 5%;
    /* border: 2px solid red; */
    width: 30%;
    background-color: black;
    color: white;
    
}
.innerCards-1 img{
    min-width: 100%;
    height: 80vh;
}
.innerCards-1 .description{
    margin-left: 20px;
}
.cards-2{
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    height: 80%;
    width: 50%;
}
.innerCards-3 img{
    height: 30%;
    min-width: 100%;
}
.innerCards-2 , .innerCards-3{
    /* border: 2px solid red; */
    width: 50%;
    height: 100%;
    border-top: 5px solid black;

    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1em;
}
.para-head{
    font-weight: 800;
    font-size: 1.5em;

}
.innerCards-1 button{
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: rgb(255, 255, 255);
    border-radius: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 30px ;
}
.cards-2 button{
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 0px;
    /* margin-left: 20px; */
    /* margin-bottom: 20px; */
    margin-top: 30px ;
}
.top-layer{
    position: absolute;
    text-align: left;
    top: 20px;
    left: 10%;
}
.footer{
    font-family: Poppins;
    font-weight: 600;
    list-style: none;
    margin-top: 15%;
    /* border: 2px solid red; */
    background-color: #f4f0f0;
    height: 20vh;
    border-top: 5px solid black;
    /* width: 11%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box-i,.box-ii,.box-iii{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer li a{
    text-decoration: none;
    color: black;
}
.footer li a:hover{
    text-decoration: underline;
}
.bottom-bar p{
    text-align: center;
    font-family: Poppins;
    font-weight: 600;

}
.copyright{
    position: relative;
    /* height: %; */
    /* width: 100%; */
    bottom: 50px;
    /* border: 2px solid red; */
    text-align: center;
    justify-content: center;
    font-family: Poppins;
    font-weight: 600;
}
.bottom{
    border: 2px solid red;
}
.second-lastPage{
    height: 80vh;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}
.second-lastPage .cont-1{
    font-weight: 600;
    font-family: Poppins;
    /* border: 2px solid red; */
    height: 80vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3%;
    align-items: start;
    text-align: justify;
    margin-left: 90px;
}
/* .second-lastPage .cont-1 h2,p{
    margin-left: 20px;
} */
.second-lastPage img{
    opacity: 0.7;
    margin-right: 30px;
    position: relative;
    top: 30%;
    height: 80vh;
    width: 50%;
}
.cont-1 button{
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: rgb(255, 255, 255);
    border-radius: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 30px ;
}
.text-over-img{
    border: 3px solid rgb(0, 0, 0);
    padding: 10px 30px 10px 30px;
    font-family: Poppins;
    font-size: 4em;
    position: relative;
    z-index: 2;
    top: 5%;
    left: 50%;
}
.cont-1 p,h2{
    margin-left: 20px;
}
